<div class = "container fluid">
    <div class = "col-md-12">
      <table class = "table table striped">
          <thead class = "thead-dark">
            <tr>
              <th> Id </th>
              <th> Nombre </th>
              <th> Descripcion </th>
              <th> VotosAFavor </th>
              <th> VotosEnContra </th>
              <th> Fecha </th>
              <th> Tags </th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let f of foros">
              <td> {{f.id}} </td>
              <td> {{f.nombre}}</td>
              <td> {{f.descripcion}} </td>
              <td> {{f.votosAFavor}} </td>
              <td> {{f.votosEnContra}} </td>
              <td> {{f.fecha}} </td>
              <td> {{f.tags}} </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  
