<div class = "container fluid">
  <div class = "col-md-12">
    <table class = "table table striped">
        <thead class = "thead-dark">
          <tr>
            <th> Nombre </th>
            <th> Puntaje </th>
            <th> Nivel </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let ejercicio of ejercicios">
            <td style= "cursor:pointer;"> 
              <dd class = "figure-caption" routerLink = "/ejercicios/{{ejercicio.id}}">{{ejercicio.nombre}} </dd></td>
            <td> {{ejercicio.puntaje}}</td>
            <td> {{ejercicio.nivel}} </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
