<div class = "container fluid">
  <div class = "col-md-12">
    <table class = "table table striped">
        <thead class = "thead-dark">
          <tr>
            <th> Institucion </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of institucion">
            <td style="cursor: pointer;"> 
              	<a class="figure-caption" [routerLink] ="['/instituciones', { outlets: { 'detail': [i.id] } }]" >{{i.nombre}}</a>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>