<div class = "container fluid">
    <div class = "col-md-12">
      <table class = "table table striped">
          <thead class = "thead-dark">
            <tr>
              <th> Id </th>
              <th> Fecha </th>
              <th> Tiempo </th>
              <th> Veredicto </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let s of submissions">
              <td> {{s.id }} </td>
              <td> {{s.fecha}}</td>
              <td> {{s.tiempo}} </td>
              <td> {{s.veredicto}} </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  
