<div class="container-fluid">
    <div class="crd row justify-content-center">
        <div class="col-md-10">
            <span class="figure-caption">Información Usuario</span>
            <h3 class="card-title">{{usuario.nombre}}</h3>
            <dl>
                <dt>Nombre:</dt>
                <dd>{{usuario.nombre}}</dd>
                <dt>Nombre de Usuario:</dt>
                <dd>{{usuario.nombreUsuario}}</dd>
                <dt>Correo Electrónico:</dt>
                <dd>{{usuario.correo}}</dd>
                <dt>Identificación:</dt>
                <dd>{{usuario.id}}</dd>
                <dt>Rol:</dt>
                <dd>{{usuario.rol}}</dd>
                <dt>Puntaje:</dt>
                <dd>{{usuario.puntaje}}</dd>
                <dt>Imagen:</dt>
                <dd><img class="img-top" src={{usuario.imagen}} alt="Usuario {{usuario.imagen}}}"> </dd>


            </dl>
            
      </div>

    </div>
</div>