<div class="col-md-12">
    <h1>Datos</h1>

  <div class="container-fluid">
      <p class="h3"> Nombre:{{usuarioDetail.nombre}} {{usuarioDetail.apellido}}</p>
      <p class = "h4"> Username: {{usuarioDetail.nombreUsuario}}</p>
      <p class = "h3"> {{usuarioDetail.rol}}</p>
      <p class = "h5"> Puntaje: {{usuarioDetail.puntaje}}</p>
      <p class = "h5"> Correo: {{usuarioDetail.correo}}</p>

      <!-- solo muestra cada cosa como un json, se debe arreglar -->
      <p class=  "h5">Lenguajes: {{usuarioDetail.lenguajes}}</p>
      <p class=  "h5">Equipos: {{usuarioDetail.equipos}}</p>
      <p class=  "h5">Submissions: {{usuarioDetail.Submissions}}</p>

  </div>
