<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crea un foro</h2>
        <br>
        <form name="foro" (ngSubmit)="f.form.valid && createForo()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="foroNombre"><b>Nombre</b></label>
                <input type="text" name="foroNombre" class="form-control" id="foroNombre" [(ngModel)]="foro.nombre"
                    #foroNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && foroNombre.invalid }" required>
                <div class="invalid-feedback">
                    <div>El nombre del foro está faltando</div>
                </div>
                    <label for="foroNombre"><b>Descripción</b></label>
                    <input type="text" name="foroDescripcion" class="form-control" rows="3" id="foroDescripcion" [(ngModel)]="foro.descripcion"
                    #foroDescripcion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && foroDescripcion.invalid }" required>
                <div class="invalid-feedback">
                    <div>La descripción del foro está faltando</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>