<div class = "container fluid">
  <div class = "col-md-12">
    <table class = "table table striped">
        <tbody>
          <tr *ngFor = "let equipo of equipos">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"> {{equipo.nombreEquipo}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">id: {{equipo.id}}</h6>
                    <p class="card-text">Equipo de Institucion Los Alpes</p>
                  </div>
                </div>    
          </tr>
        </tbody>
    </table>
  </div>
</div>

