<div class= "container-fluid"  >
    <div class = "col-md-2">
        <table class = "table table-striped">

            <tbody>
              <tr *ngFor= "let c of competencias">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{c.nombre}} </h5>
                        <p class="card-text">Es virtual: {{c.esVirtual}} </p>
                        <p class="card-text">{{c.fechaInicio}} - {{c.fechaFin}}</p>
                        <p class="card-text">Puntos: {{c.puntos}}</p>
                        <p class="card-text">{{c.descripcion}}</p>
                        <p class="card-text">Condiciones: {{c.condiciones}}</p>
                        <a href="#" class="btn btn-primary" routerLink= "/competencias/detail">Ver mas</a>
                      </div>
                    </div>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
