
  <section class="container">
  	<section class="row clearfix">
  		<section class="col-md-12 column">

  		</section>
  	</section>
  	<section class="row clearfix">
  		<section class="col-md-12 column">

            <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#"><i class="fa fa-comments"></i> Similar posts</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> Tools <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><i class="fa fa-send"></i> Email this page</a></li>
              <li><a href="#"><i class="fa fa-print"></i> Print this page</a></li>
              <li><a href="#"><i class="fa fa-download"></i> Download pdf of this page</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="fa fa-smile-o"></i> Subscript me in this post</a></li>
                <li class="divider"></li>
              <li><a href="#"><i class="fa fa-cogs"></i> Manage this post(for adminstrator)</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input class="form-control" placeholder="Search in this post..." type="text">
          </div>
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-heart"> </i> 5 Likes</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share"></i> Share It! <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><i class="fa fa-facebook"></i> facebook</a></li>
              <li><a href="#"><i class="fa fa-twitter"></i> twitter</a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i> google pluse</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="fa fa-cogs"></i> Manage topic(for adminstrator)</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

            <div class="row clearfix">
  		<div class="col-md-12 column">
  			<div class="panel panel-default">
  				<div class="panel-heading">
  					<section class="panel-title">
                        <time class="pull-right">
                        <i class="fa fa-calendar"></i> {{foroDetail.fecha}} , <i class="fa fa-clock-o"></i> 0:00 PM
                        </time>
                        <section class="pull-left" id="id">
                          <abbr title="count of posts in this topic">#1</abbr>
                        </section>
  					</section>
  				</div>
  				<section class="row panel-body">
  					<section class="col-md-9">
                        <h2> <i class="fa fa-smile-o"></i> {{foroDetail.nombre}}</h2>
                        <hr>
                        {{foroDetail.descripcion}}
                    </section>

                    <section id="user-description" class="col-md-3 ">
                      	<section class="well">
                      <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cricle"></i>Juan Felipe Peña<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-user"></i> See profile</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> Send PM</a></li>
                        <li><a href="#"><i class="fa fa-code"></i>View all Articles</a></li>
                        <li><a href="#"><i class="fa fa-th-list"></i>View all Posts</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-plus"></i>Add to contact List</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-cogs"></i> Manage User (for adminstrator)</a></li>
                      </ul>
         			 </div>
                            <figure>
                              <img class="img-rounded img-responsive" src="http://www.webdesignforums.net/img/wdf_avatar.jpg" alt="Mohammad Sharifi's avatar">
                              <figcaption class="text-center">Juan Felipe Peña <br><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i> </figcaption>
                            </figure>
                            <dl class="dl-horizontal">
                              <dt>joined date:</dt>
                              <dd>15 September 2014</dd>
                              <dt>Posts:</dt>
                              <dd>785</dd>
                              <dt>plus:</dt>
                              <dd>+89</dd>
                              <dt>like:</dt>
                              <dd>150 like in 50 post</dd>
  						</dl>
                      	</section>
                    </section>

  				</section>
  				<div class="panel-footer">
                    <div class="row">
  					<section class="col-md-2 ">

                        <i class="fa fa-thumbs-up "></i><a href="#"> Thanks </a>| <i class="fa fa-warning "></i><a href="#"> Report </a>
                      </section>
                    	<section id="thanks" class="col-md-6">
                        <small><a href="#" data-toggle="tooltip" title="You and david,ehsan,john doe">  who L<i class="fa fa-heart "></i>ve this!</a> </small><br>

                     </section>
                    	<section class="col-md-4">
                        <span class="fa-stack">
                            <i class="fa fa-quote-right fa-stack-1x"></i>
                            <i class="fa fa-comment-o fa-lg fa-stack-1x"></i>
  					  </span><a href="#"> Reply With Quote </a> |
                        <i class="fa fa-mail-reply "></i><a href="#"> <button type="button" routerLink = "/comentarios/add" class="btn btn-primary">Comentar</button></a>|
                        <i class="fa fa-edit "></i><a href="#"> Edit Post </a>
                      </section>
  				</div>
                 </div>
  			</div>
  		</div>
  	</div>



  		</section>
  	</section>
      <h1 >Comentarios</h1>
    <p class="h4 p-3" *ngFor = "let comentario of foroDetail.comentarios" >{{comentario.nombre }}</p>
      <p></p>

  </section>
