<div class= "container-fluid" >
  <div class = "col-md-2">
      <table class = "table table-striped">
          <thead class ="thead-dark">
            <tr>
              <th>id</th>
              <th>Fecha </th>
              <th>Ubicacion</th>

            </tr>
          </thead>
          <body>
            <tr *ngFor= "let l of lugaresCompetencia">
              <td >
                  {{l.id}}
                  {{l.fecha}},
                  {{l.ubicacion}}
              </td>

            </tr>
          </body>
      </table>
  </div>
</div>
