<form action="action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h1>Crear Usuario</h1>
    <p>Completa los espacios con tu informacion</p>
    <hr>

    <label for="email"><b>Correo</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Clave</b></label>
    <input type="password" placeholder="Ingrese la clave" name="psw" required>

    <label for="psw-repeat"><b>Repita la clave</b></label>
    <input type="password" placeholder="Ingrese de nuevo la clave" name="psw-repeat" required>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Recuerdame
    </label>

    <p>Acepta los terminos y condiciones  de la página al crear esta cuenta <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancelar</button>
      <button type="submit" class="signupbtn">Crear</button>
    </div>
  </div>
</form>